body{
    background-color: #ddd;
}

h1{
    font-size:  5rem;
}

.sub_title h2{
    font-size: 1.2rem;
}

.cercle1{
    height: 13em;
    width: 13em;
    border-radius: 50%;
    background-color: #fac141;
    position: absolute;
    top: 17%;
    left: 60%;
    z-index: -10;
    transition: all 3s;
    opacity: 0;
}

.cercle2{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: #fac141;
    position: absolute;
    top: 6%;
    left: 13%;
    z-index: -10;
    transition: all 2.5s;
    opacity: 0;
}

.cercle3{
    height: 8em;
    width: 8em;
    border-radius: 50%;
    background-color: #fac141;
    position: absolute;
    top: 45%;
    left: 30%;
    z-index: -10;
    transition: all 3.2s;
    opacity: 0;
}

.cercle4{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #fac141;
    position: absolute;
    top: 70%;
    left: 76%;
    z-index: -10;
    transition: all 2.7s;
    opacity: 0;
}


.start{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.start .btn{
    width: 8em;
    border-radius: 50%;
    position: relative;
    outline: none !important;
}



.start .cercle{
    width: 8rem;
    height: 8rem;
    background-color: #fac141;
    border-radius: 50%;
    position: absolute;
    z-index: -10;
    transition: all 4s;
    opacity: 0;
    box-shadow: 0 0 8px rgba(226, 219, 179, 0.9) ;
}

.btn{
    -webkit-appearance: none;
}

.btn:focus {
    outline:0;
    box-shadow: none;
}

nav{
    background-color: #fac141;
}

.logoIcon{
    height: 4rem;
    width: 4rem;
}



footer{
    background-color: white;
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.bd-footer-links li {
    display: inline-block;
}

.contents-container{
    border-radius: 2%;
    box-shadow: 10px 10px 10px 0px #ccc;
}

.version{
    font-size: 6px;
}

.dis{
    display: none;
}

.btn-primary{
    border-radius: 10px;
}



.bg-exam{
    background-color: #CBFFD3;
}

li{
    list-style: none;
}

/* .submit-btn{ 
    color: #fff;
    background-color: darkorange;
    border-color: darkorange;
} */

.inputField{    
        box-sizing    : border-box;           /* 罫線も含む長さ       */
        width         : 100%;                 /* BOXの幅              */
        text-align    : center;               /* 文字位置             */
        color         :white;              /* 文字色               */
      
        background    : #990000;              /* BOXの背景色          */
        border        : 5px groove #ffff1a;   /* 枠線の指定           */
        box-shadow    : 0 0 0 9px #990000;   /* 影を利用した外余白   */
}

.entryField{    
        box-sizing    : border-box;           /* 罫線も含む長さ       */
        width         : 100%;                 /* BOXの幅              */
        color         :white;              /* 文字色               */
        /* font-family: ; */
        background    : #990000;              /* BOXの背景色          */
        border        : 5px groove #ffff1a;   /* 枠線の指定           */
        box-shadow    : 0 0 0 9px #990000;   /* 影を利用した外余白   */
}
.text-label{
    opacity: .8;
}

.exampleTitle{
    font-size: 1.1rem;
}

.textWrap{
    word-wrap:break-word;
}



/* test */

.inputTextContainer {
	position: relative;
	width: 80%;
	/* margin: 40px 3%; */
}
.inputTextContainer input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
	padding-left: 6em;
}

.inputTextContainer textarea {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	letter-spacing: 1px;
    padding-left: 6em;
    vertical-align:top;
}
.inputTextContainer input[type='text']:focus {
	outline: none;
}
.inputTextContainer textarea:focus {
	outline: none;
}
.inputText {
	padding: 4px 0;
	border: 0;
	border-bottom: 1px solid #1b2538;
	background-color: transparent;
}
.inputText ~ .focus_line {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
	background-color: #fac141;
}
.inputText:focus ~ .focus_line,
.inputTextContainer.inputText ~ .focus_line {
	width: 100%;
	transition: 0.4s;
}
.inputText ~ label {
	position: absolute;
	/* z-index: -1; */
	top: 4px;
	left: 0;
	/* width: 100%; */
	transition: 0.3s;
	letter-spacing: 0.5px;
	color: #aaaaaa;
}
.inputText:focus ~ label, .inputTextContainer.inputText ~ label {
	font-size: 12px;
	top: -16px;
	transition: 0.3s;
	color: #fac141;
}

input::placeholder {
    color:white;
    opacity: .6;
}