body{
    background-color: #ddd;
}

h1{
    font-size:  5rem;
}

.sub_title h2{
    font-size: 1.2rem;
}

.cercle1{
    height: 13em;
    width: 13em;
    border-radius: 50%;
    background-color: #fac141;
    position: absolute;
    top: 17%;
    left: 60%;
    z-index: -10;
    transition: all 3s;
    opacity: 0;
}

.cercle2{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    background-color: #fac141;
    position: absolute;
    top: 6%;
    left: 13%;
    z-index: -10;
    transition: all 2.5s;
    opacity: 0;
}

.cercle3{
    height: 8em;
    width: 8em;
    border-radius: 50%;
    background-color: #fac141;
    position: absolute;
    top: 45%;
    left: 30%;
    z-index: -10;
    transition: all 3.2s;
    opacity: 0;
}

.cercle4{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-color: #fac141;
    position: absolute;
    top: 70%;
    left: 76%;
    z-index: -10;
    transition: all 2.7s;
    opacity: 0;
}


.start{
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.start .btn{
    width: 8em;
    border-radius: 50%;
    position: relative;
    outline: none !important;
}



.start .cercle{
    width: 8rem;
    height: 8rem;
    background-color: #fac141;
    border-radius: 50%;
    position: absolute;
    z-index: -10;
    transition: all 4s;
    opacity: 0;
}

.btn:focus {
    outline:0;
    box-shadow: none;
}

nav{
    background-color: #fac141;
}

.logoIcon{
    height: 4rem;
    width: 4rem;
}



footer{
    background-color: white;
}

.bd-footer-links {
    padding-left: 0;
    margin-bottom: 1rem;
}

.bd-footer-links li {
    display: inline-block;
}

.contents-container{
    border-radius: 2%;
    box-shadow: 10px 10px 10px 0px #ccc;
}